.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* 
.search-bar {
  width: 250px;
  box-sizing: border-box;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
} */


.project-header {
  display: block;
  color: black;
  top: 0px;
  position: absolute;
  font-size: 100px;
}


.search-div {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%,-50%);
  transition: all 2.5s;
  background: white;
  box-sizing: border-box;
  border: 4px solid white;
  border-radius: 30px;
  padding: 5px;
}

.search-bar {
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 45px;
  outline: 0;
  border: 0;
  display: none;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 3s;
}

.search-btn  {
  z-index: 2;
  color:transparent;
  background: transparent;
  border: non!important;
  border-style: hidden;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 60%;
  color:transparent;
  transition: all 3s;
}


.search-div:hover {
  cursor: pointer;
  width: 1000px;
  
  
}

.search-div:hover input {
  display: block;
}

.search-div:hover .fa {
  background: green;
  color: white;
}

.test-input {
  padding: 100px;

}